/* Define variables */
$font-size-info: 12px;
$text-color-success: #00FF00;
$text-color-warning: #FF0000;

/* Define base styles */
.info {
  font-size: $font-size-info;
}

/* Extend base styles for success and warning */
.success {
  @extend .info;
  color: $text-color-success;
}

.warning {
  @extend .info;
  color: $text-color-warning;
}
