/* Define variables */
$font-size: 12px;
$success-color: #00ff00;
$failed-color: #ff0000;
/* Define base styles */

.info {
  font-size: $font-size;
}

/* Extend base styles for success and warning */
.success {
  @extend .info;
  color: $success-color;
}

.warning {
  @extend .info;
  color: $failed-color;
}
